@charset "UTF-8";
.button {
    text-decoration: none;
    border-radius: 16px;
    padding: 10px;
    background: #37425e;
    color: white;
}
.button:hover {
    background: #c0c3ca;
    color: white;
}
#filmActions {
    display: inline;
}

