@charset "UTF-8";
body {
	font-family: "Open-Sans", sans-serif;
}

.button {
	text-decoration: none;
	padding: 10px;
	border-radius: 20px;
	font-size: 24px;
	margin-left: 150px;
	background: #37425e;
	color: white;
}
.button:hover {
	text-decoration: none;
	background: #c0c3ca;
	color: white;
}


.types {
	display: inline-block;
	width: 10%;
	margin: 5px auto;
	text-align: right;
}

.data {
	display: inline-block;
	width: 10%;
	padding-left: 10px;
	text-align: left;
}

.list {
	font-family: "Open-Sans", sans-serif;
	padding-left: 10.5%;
	text-align: left;
}