
body {
		height: 125vh;
		background-size: cover;
		font-family: "Open-Sans", sans-serif;
		margin-top: 80px;
		padding: 8vh 0 0 3vw;
		background-color: #f0f0f1;
}

header {
		background-color: #f0f0f1;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 25px;
		padding-top: 15px;
		padding-bottom: 10px;
		text-align: center;
}
header * {
	display: inline;
}

header li {
	color: white;
	border-radius: 15px;
	background-color: #37425e;
	padding: .83vh .87vw;
}


header li:hover {
	border-radius: 15px;
	background-color: #c0c3ca;
}

header li a {
	border-radius: 15px;
	margin: 20px;
	color: white;
	text-decoration: none;
	padding: .83vh .87vw;
}
header li a:hover {
	border-radius: 15px;
	color: #4d2500;
}

